@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    background-color: #F0C9EA;
}


.button { 
    border: 10px;
    border-radius: 5px;
    background-color: #FF2DAE;
    color: white;
    font-family:  'Krona One', sans-serif;
    padding: 15px 30px ;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
    text-decoration: none;
   
    
   
}

.logo-orkut {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border: 2px solid ;
    width: 1000px;
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    padding: 150px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
    box-shadow: 30px 30px black;
}

.apresentacao-bloco-tudo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.componente-dados-usuario {
    border: 0px solid ;
    width: 600px;
    text-align: left;
    border-radius: 8px;
    font-size: 20px;
    background-color: azure;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.lembrar-acesso {
    width: 600px;
    margin: auto;
}



.img {
    width: 500px;
}

.orkut {
    color: #FF2DAE;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}


.ul {
    list-style-type: none;
    margin-right: 50px;
    padding: 7px;
    display: flex;
  }

  .form-input {
    border: 1px solid;
    width: 600px;
    text-align: left;
    border-radius: 8px;
    font-size: 20px;
    background-color: azure;
    padding: 5px;
}  
  